body {
 background-color: #f2f2f2;
}

#date, #month, #year {
  width: 100px;
  height: 50px;
  font-size: 18px;
}

::placeholder {
  font-size: 18px;
  text-align: center;
}

.example {
  color: #bfbfbf;
}

.birthday-group {
  padding: 20px;
}
